/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

img {
    width: 100%;
    display: block;
}

/* Button */
a.button,
.menu-container .menu > li > a.button {
    background-color: #eb008e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;  
}

/* HEADER */
header {
    padding: 35px 0 40px;
    font-size: 16px;
}
header .menu-container {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
}

.menu-container .logo {
    width: 10%;
}

/* Menu */
.menu-container .menu {
    list-style-type: none;
    display: flex;
}
.menu-container .menu li {
    position: relative;
    padding-bottom: 10px;
    padding-top: 15px;
    cursor: pointer;
}

.menu-container .menu > li > a {
    text-decoration: none;
    color: #a8aeb3;
}
/* .menu-container .menu > li > a:hover {
    color: #030303;
} */
.menu-container .menu > li > a.beta::after {
    content: 'beta';
    font-size: 12px;
    color:#eb008e;
    position: relative;
    bottom: 14px;
    font-weight: 500;
}

/* Menu Left */
.menu-container .menu-left {
    width: 25%;
    padding-left: 10px;
}
.menu-container .menu-left .menu {
    justify-content: space-around;
    padding: 0 25px;
}
.menu-container .menu-left li {
    padding-left: 30px;
}
/* .menu-left .menu > li:first-child > a {
    color: #030303;
} */

/* Menu Right */
.menu-container .menu-right .menu {
    justify-content: space-between;
}
.menu-container .menu-right {
    width: 65%;
    padding-left: 40px;
}
.menu-right .menu li i {
    font-size: 10px;
}

/* Burger Menu Hidden */
.menu-container .burger {
    display: none;
}

/* Menu Dropdown */
.menu-container .dropdown {
    display: none;
}
.menu-container .dropdown.show {
    display: block;
}
.menu-container .menu.menu-dropdown {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left:0;
    transform: translateX(-25%);
    width: max-content;
    box-shadow: rgb(0 0 0 / 4%) 0px 0px 4px 0px, rgb(0 0 0 / 8%) 0px 8px 16px 0px;
}

.menu.menu-dropdown li {
    padding: 0;
}
.menu.menu-dropdown li a {
    padding: 20px 40px;
    display: block;
}
.menu.menu-dropdown li:first-child a{
    padding-top: 20px;
}
.menu.menu-dropdown li:last-child a{
    padding-bottom: 20px;
}

/* MEDIA QUERIES */

/* TABLET */
@media all and (max-width:991px) {

    .menu-container {
        width: 95%;
        justify-content: space-between;
        align-items: center;
    }
    /* Logo */
    .menu-container .logo {
        min-width: 80px;
    }
    /* Menu Left & Rigth Hidden */
    .menu-container .menu-left,
    .menu-container .menu-right {
        display: none;
    }

    /* Burger Menu */
    .menu-container .burger {
        display: block;
    }

    .menu-container .burger > i,
    .menu-container .burger > a{
        display: block;
        text-decoration: none;
        font-size: 25px;
        color: #030303;
    }

    /* Slider Menu */
    .menu-container .burger .slide-menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        transform: translateX(100%);
        transition: all .5s cubic-bezier(0.7,0,0.3,1);
        background-color: #fff;
    }
    .menu-container .burger .slide-menu-container.active {
        transform: translateX(0);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    /* Exit Icon */
    .burger .slide-menu-container .exit-icon {
        position: absolute;
        right:20px;
        top:20px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #030303;
        border-radius: 3px;
        cursor: pointer;
    }

    .menu-container .burger .slide-menu {
        padding: 40px 10%;
        overflow-y: auto;
    }
    
    .menu-container .burger .slide-menu .menu {
        flex-direction: column;
    }
    .menu-container .burger .slide-menu .menu li {
        cursor: auto;
        overflow-y: hidden;
    }
    .menu-container .burger .slide-menu .menu li > a {
        display: inline-flex;
        align-items: center
    }
    .menu-container .burger .slide-menu .menu li i {
        font-size: 10px;
    }
    .burger .slide-menu .menu li a.button {
        display: block;
        width: max-content;
    }

    /* Dropdown Icons */
    .burger .slide-menu .menu li .dropdown-icon {
        margin-left: 20px;
        height: 25px;
        width: 25px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #030303;
        border-radius: 3px;
        cursor: pointer;
    }
    
    
    /* Dropdown Burger */
    .burger .slide-menu .dropdown-burger {
        display: none;
    }

    .burger .slide-menu .menu.menu-dropdown-burger {
        padding-left: 20px;        
    }

    
}
