/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

img {
    width: 100%;
    display: block;
}

/* HEADER */
header {
    padding: 35px 0 40px;
    font-size: 16px;
}
header .menu-container {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
}

.menu-container .logo {
    width: 10%;
}

/* Menu */
.menu-container .menu {
    list-style-type: none;
    display: flex;
}
.menu-container .menu li {
    position: relative;
    padding-bottom: 10px;
    padding-top: 15px;
}

.menu-container .menu > li > a {
    text-decoration: none;
    color: #a8aeb3;
}
.menu-container .menu > li > a:hover {
    color: #030303;
}

/* Menu Left */
.menu-container .menu-left {
    width: 25%;
    padding-left: 10px;
}
.menu-container .menu-left li {
    padding-left: 40px;
}
.menu-left .menu > li:first-child > a {
    color: #030303;
}

/* Menu Right */
.menu-container .menu-right .menu {
    justify-content: space-between;
}
.menu-container .menu-right {
    width: 65%;
    padding-left: 40px;
}
.menu-right .menu li i {
    font-size: 10px;
}

/* Button */
.menu-right .menu li a.button {
    background-color: #eb008e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;    
}

/* Menu Dropdown */
.menu-container .menu.menu-dropdown {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left:0;
    transform: translateX(-25%);
    width: max-content;
    box-shadow: rgb(0 0 0 / 4%) 0px 0px 4px 0px, rgb(0 0 0 / 8%) 0px 8px 16px 0px;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.menu.menu-dropdown li {
    padding: 0;
}
.menu.menu-dropdown li a {
    padding: 20px 40px;
    display: block;
}
.menu.menu-dropdown li:first-child a{
    padding-top: 20px;
}
.menu.menu-dropdown li:last-child a{
    padding-bottom: 20px;
}
